<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[#endif
]]></content>
    <tabTrigger>eif</tabTrigger>
    <language>C|C++|Objective-C|Objective-C++</language>
    <description>#endif</description>
    <name>#endif</name>
</snippet>
