<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[#ifndef $1
 #define ${1:SYMBOL} ${2:value}
 #endif]]></content>
    <tabTrigger>def</tabTrigger>
    <language>C|C++|Objective-C|Objective-C++</language>
    <description>#ifndef ... #define ... #endif</description>
    <name>#ifndef ... #define ... #endif</name>
</snippet>