<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[#include "${1:${filename_no_extension}.h}"]]></content>
    <tabTrigger>inc</tabTrigger>
    <language>C|C++|Objective-C|Objective-C++</language>
    <description>#include</description>
    <name>#include</name>
</snippet>