<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[#if 0
${1:#pragma mark -
}#pragma mark $2
#endif

$0]]></content>
    <tabTrigger>mark</tabTrigger>
    <language>C|C++|Objective-C|Objective-C++</language>
    <description>#pragma mark</description>
    <name>#pragma mark</name>
</snippet>