<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[class ${1:${filename_no_extension}}
{
public:
	$1 (${2:arguments});
	virtual ~$1 ();

private
	${0:/* data */}
};]]></content>
    <tabTrigger>cl</tabTrigger>
    <language>C++|Objective-C++</language>
    <description>class</description>
    <name>class</name>
</snippet>