<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[do
	${0:/* code */}
} while(${1:/* condition */});]]></content>
    <tabTrigger></tabTrigger>
    <language>C|C++|Objective-C|Objective-C++</language>
    <description>do while loop</description>
    <name>do while loop</name>
</snippet>