<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[${1:stderr}, "${2:%s}\n"$3);]]></content>
    <tabTrigger>fprintf</tabTrigger>
    <language>C|Objective-C|C++|Objective-C++</language>
    <description>fprintf</description>
    <name>fprintf</name>
</snippet>