<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[int main (int argc, char const*argv[])
{
	${0:/* code */}
	return 0;
}]]></content>
    <tabTrigger>main</tabTrigger>
    <language>C|C++|Objective-C|Objective-C++</language>
    <description>main(int argc, char const*argv[]) declaration</description>
    <name>main()</name>
</snippet>