<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content>namespace ${1:myNamespace}
{
	$0
}</content>
    <tabTrigger>ns</tabTrigger>
    <language>C|Objective-C|C++|Objective-C++</language>
    <description>namespace</description>
    <name>namespace</name>
</snippet>