<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[printf("${1:%s}\n", $2);]]></content>
    <tabTrigger>printf</tabTrigger>
    <language>C|Objective-C|C++|Objective-C++</language>
    <description>printf</description>
    <name>printf</name>
</snippet>