<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[typedef std::shared_ptr<${2:${1:my_type}_t}>; ${3:$1_ptr};]]></content>
    <tabTrigger>sp</tabTrigger>
    <language>C|Objective-C|C++|Objective-C++</language>
    <description>Shared Pointer</description>
    <name>Shared Pointer</name>
</snippet>