<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[std::vector<${1:char}> v$0;]]></content>
    <tabTrigger>vector</tabTrigger>
    <language>C++|Objective-C++</language>
    <description>std::vector&lt;type&gt;</description>
    <name>std__vector</name>
</snippet>