<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[std::string]]></content>
    <tabTrigger>str</tabTrigger>
    <language>C++|Objective-C++</language>
    <description>std::string</description>
    <name>std::string</name>
</snippet>