<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[struct ${1:${filename_no_extension}_t:name}
{
	${0:/* data */}
};]]></content>
    <tabTrigger>struct</tabTrigger>
    <language>C|Objective-C|C++|Objective-C++</language>
    <description>struct</description>
    <name>struct</name>
</snippet>