<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[typedef ${1:int} ${2:MyCustomType};]]></content>
    <tabTrigger>td</tabTrigger>
    <language>C|Objective-C|C++|Objective-C++</language>
    <description>typedef ...</description>
    <name>typedef</name>
</snippet>