<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[${1:v}begin(), $1end()]]></content>
    <tabTrigger>beginend</tabTrigger>
    <language>C++|Objective-C++</language>
    <description>v.begin() v.end()</description>
    <name>v.begin() v.end()</name>
</snippet>