<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[break;
]]></content>
    <tabTrigger>br</tabTrigger>
    <language>c#</language>
    <description>Break Statement</description>
    <name>Break</name>
</snippet>