<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[case ${1:Condition}:
    $2
$0]]></content>
    <tabTrigger>cs</tabTrigger>
    <language>c#</language>
    <description>Case</description>
    <name>Case</name>
</snippet>