<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[class ${1:${filename_no_extension}}
{
	$0
}]]></content>
    <tabTrigger>cl</tabTrigger>
    <language>c#</language>
    <description>Class Declaration</description>
    <name>Class Declaration</name>
</snippet>