<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[public const string ${1:Var} = $2;$0 ]]></content>
    <tabTrigger>cos</tabTrigger>
    <language>c#</language>
    <description>Declaration for a constant String</description>
    <name>Constant String</name>
</snippet>