<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[do {
	$0
}]]></content>
    <tabTrigger>do</tabTrigger>
    <language>c#</language>
    <description>Do While Loop</description>
    <name>Do While</name>
</snippet>