<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[enum ${1:${FILENAME_NO_EXTENSION}}
{
	$0
}]]></content>
    <tabTrigger>enum</tabTrigger>
    <language>c#</language>
    <description>Enumeration</description>
    <name>Enumeration</name>
</snippet>