<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[final ]]></content>
    <tabTrigger>fi</tabTrigger>
    <language>c#</language>
    <description>Final</description>
    <name>Final</name>
</snippet>