<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[if (${1:Condition}) {
    $0
}]]></content>
    <tabTrigger>if</tabTrigger>
    <language>c#</language>
    <description>If Block</description>
    <name>If</name>
</snippet>