<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[/// <summary>
///   The main entry point for the application
/// </summary>
[STAThread]
public static void Main(string[] args)
{
	$0
}]]></content>
    <tabTrigger>main</tabTrigger>
    <language>c#</language>
    <description>Main() Method declaration, the main entry for an application</description>
    <name>Main Method</name>
</snippet>