<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[namespace ${1:NamespaceName}
{
	$0
}]]></content>
    <tabTrigger>ns</tabTrigger>
    <language>c#</language>
    <description>Namespace</description>
    <name>Namespace</name>
</snippet>