<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[override ]]></content>
    <tabTrigger>over</tabTrigger>
    <language>c#</language>
    <description>Override</description>
    <name>Override</name>
</snippet>
