<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[private ]]></content>
    <tabTrigger>pr</tabTrigger>
    <language>c#</language>
    <description>Private</description>
    <name>Private</name>
</snippet>
