<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[${1:string} ${2:PropertyName} { get; set;}]]></content>
    <tabTrigger>prop</tabTrigger>
    <language>c#</language>
    <description>Property</description>
    <name>Property</name>
</snippet>