<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[protected ]]></content>
    <tabTrigger>po</tabTrigger>
    <language>c#</language>
    <description>Protected</description>
    <name>Protected</name>
</snippet>