<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[public ]]></content>
    <tabTrigger>pu</tabTrigger>
    <language>c#</language>
    <description>Public</description>
    <name>Public</name>
</snippet>