<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[#region ${1:Region Name}

$0

#endregion]]></content>
    <tabTrigger>reg</tabTrigger>
    <language>c#</language>
    <description>Region</description>
    <name>Region</name>
</snippet>
