<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[return ]]></content>
    <tabTrigger>re</tabTrigger>
    <language>c#</language>
    <description>Return</description>
    <name>Return</name>
</snippet>