<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[switch (${1:Expression}) {
    $0
}]]></content>
    <tabTrigger>sw</tabTrigger>
    <language>c#</language>
    <description>Switch Block</description>
    <name>Switch</name>
</snippet>