<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[throw $0]]></content>
    <tabTrigger>th</tabTrigger>
    <language>c#</language>
    <description>Throw Exception</description>
    <name>Throw</name>
</snippet>