<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[try {
    $0
}]]></content>
    <tabTrigger>tr</tabTrigger>
    <language>c#</language>
    <description>Try Block</description>
    <name>Try</name>
</snippet>