<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[${1:string} ${2:var}${3: = ${0:null}};]]></content>
    <tabTrigger>v</tabTrigger>
    <language>c#</language>
    <description>Variable Declaration</description>
    <name>Variable</name>
</snippet>