<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[virtual ]]></content>
    <tabTrigger>virt</tabTrigger>
    <language>c#</language>
    <description>Virtual</description>
    <name>Virtual</name>
</snippet>