<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[while (${1:Condition}) {
    $0
}]]></content>
    <tabTrigger>wh</tabTrigger>
    <language>c#</language>
    <description>While Loop</description>
    <name>While</name>
</snippet>