<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[do {
	${2:${SELECTED_TEXT}}
} while (${1:true});]]></content>
	<name>do</name>
	<description>do</description>
	<tabTrigger>do</tabTrigger>
	<language>javascript</language>
</snippet>