<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[else {
	${1:${SELECTED_TEXT}}
}]]></content>
	<name>else</name>
	<description>else</description>
	<tabTrigger>else</tabTrigger>
	<language>javascript</language>
</snippet>