<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[for (${2:var }${20:i} = ${1:Things}.length - 1; ${20:i} >= 0; ${20:i}--) {
	${100:${1:Things}[${20:i}]}
}]]></content>
	<name>for (…) {…} (Improved Native For-Loop)</name>
	<description>for (…) {…} (Improved Native For-Loop)</description>
	<tabTrigger>for</tabTrigger>
	<language>javascript</language>
</snippet>