<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[function ($1) {
	${0:$TM_SELECTED_TEXT}
}]]></content>
	<name>Anonymous Function</name>
	<description>Anonymous Function</description>
	<tabTrigger>f</tabTrigger>
	<language>javascript</language>
</snippet>