<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[function ${1:function_name}(${2:argument}) {
	${0:// body...}
}]]></content>
	<name>Function</name>
	<description>Function</description>
	<tabTrigger>fun</tabTrigger>
	<language>javascript</language>
</snippet>