<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[getElementsByClassName(${1:'${2:className}'})]]></content>
	<name>getElementsByClassName</name>
	<description>getElementsByClassName</description>
	<tabTrigger>get</tabTrigger>
	<language>javascript</language>
</snippet>