<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[getElementsByTagName(${1:'${2:tagName}'})]]></content>
	<name>getElementsByTagName</name>
	<description>getElementsByTagName</description>
	<tabTrigger>get</tabTrigger>
	<language>javascript</language>
</snippet>