<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[getElementsByName(${1:'${2:name}'})]]></content>
	<name>getElementsByName</name>
	<description>getElementsByName</description>
	<tabTrigger>get</tabTrigger>
	<language>javascript</language>
</snippet>