<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[if (${1:true}) {
	${2:${SELECTED_TEXT}}
} else {
	$3
}]]></content>
	<name>if … else</name>
	<description>if … else</description>
	<tabTrigger>ife</tabTrigger>
	<language>javascript</language>
</snippet>