<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[if (${1:true}) {
	${2:${SELECTED_TEXT}}
}]]></content>
	<name>if</name>
	<description>if</description>
	<tabTrigger>if</tabTrigger>
	<language>javascript</language>
</snippet>