<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:method_name}: function (${3:attribute}){
	$0
}${10:,}]]></content>
	<name>Object Method</name>
	<description>Object Method</description>
	<tabTrigger>:f</tabTrigger>
	<language>javascript</language>
</snippet>