<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:key}: ${2:"${3:value}"}${4:, }]]></content>
	<name>Object key — key: "value"</name>
	<description>Object key — key: "value"</description>
	<tabTrigger>:</tabTrigger>
	<language>javascript</language>
</snippet>