<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:class_name}.prototype.${2:method_name} = function (${3:first_argument}) {
	${0:// body...}
};]]></content>
	<name>Prototype</name>
	<description>Prototype</description>
	<tabTrigger>proto</tabTrigger>
	<language>javascript</language>
</snippet>