<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[setInterval(${2:function () {
	${3:${SELECTED_TEXT}}
\}}, ${1:10});]]></content>
	<name>setInterval function</name>
	<description>setInterval function</description>
	<tabTrigger>interval</tabTrigger>
	<language>javascript</language>
</snippet>