<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[setTimeout(${2:function () {
	${3:${SELECTED_TEXT}}
\}}, ${1:10});]]></content>
	<name>setTimeout function</name>
	<description>setTimeout function</description>
	<tabTrigger>timeout</tabTrigger>
	<language>javascript</language>
</snippet>