<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[switch (${1:expression}) {
case ${2:expression}:
	$4
	break;$5
default:
	${3:${SELECTED_TEXT}}
}]]></content>
	<name>switch</name>
	<description>switch</description>
	<tabTrigger>switch</tabTrigger>
	<language>javascript</language>
</snippet>