<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[case ${1:expression} of
	${2:pattern} -> ${3:expression}
	${4:otherwise} -> ${5:expression}]]></content>
	<name>case … of …</name>
	<description>case … of …</description>
	<tabTrigger>case</tabTrigger>
	<language>haskell</language>
</snippet>