<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[class ${1:Class} where
	${0:definition}]]></content>
	<name>class …</name>
	<description>class …</description>
	<tabTrigger>cla</tabTrigger>
	<language>haskell</language>
</snippet>