<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[data ${1:Type} = ${0:Other}]]></content>
	<name>data …</name>
	<description>data …</description>
	<tabTrigger>dat</tabTrigger>
	<language>haskell</language>
</snippet>