<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:name} ${2:pattern }= ${0:definition}]]></content>
	<name>Definition</name>
	<description>Definition</description>
	<tabTrigger>=</tabTrigger>
	<language>haskell</language>
</snippet>