<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[deriving (${0:Class})]]></content>
	<name>deriving …</name>
	<description>deriving …</description>
	<tabTrigger>der</tabTrigger>
	<language>haskell</language>
</snippet>