<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[do
	${1:return ${0:expression}}]]></content>
	<name>do …</name>
	<description>do …</description>
	<tabTrigger>do</tabTrigger>
	<language>haskell</language>
</snippet>