<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:name} :: ${2:Type}
${1} ${3:pattern }${4:= definition}]]></content>
	<name>Function</name>
	<description>Function</description>
	<tabTrigger>fun</tabTrigger>
	<language>haskell</language>
</snippet>