<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[| ${0:documentation}]]></content>
	<name>Haddock Postfix</name>
	<description>Haddock Postfix</description>
	<tabTrigger>|</tabTrigger>
	<language>haskell</language>
</snippet>