<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[#!/usr/bin/env ${1:runhaskell}
]]></content>
	<name>#!/usr/bin/env…</name>
	<description>#!/usr/bin/env…</description>
	<tabTrigger>#!</tabTrigger>
	<language>haskell</language>
</snippet>