<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[import qualified ${1:Module}${2: as ${3:Mod}${4: (${5:function})}}$0]]></content>
	<name>import qualified …</name>
	<description>import qualified …</description>
	<tabTrigger>impq</tabTrigger>
	<language>haskell</language>
</snippet>