<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[import ${1:Module}${2: hiding (${3:function})}$0]]></content>
	<name>import … hiding …</name>
	<description>import … hiding …</description>
	<tabTrigger>imph</tabTrigger>
	<language>haskell</language>
</snippet>