<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[import ${1:Module}${2: (}${3:function})}$0]]></content>
	<name>import …</name>
	<description>import …</description>
	<tabTrigger>imp</tabTrigger>
	<language>haskell</language>
</snippet>