<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[instance ${1:Class} ${2:Type} where
	${0:definition}]]></content>
	<name>instance …</name>
	<description>instance …</description>
	<tabTrigger>ins</tabTrigger>
	<language>haskell</language>
</snippet>