<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[\\${1:pattern} -> ${0:expression}]]></content>
	<name>Lambda Expression</name>
	<description>Lambda Expression</description>
	<tabTrigger>\</tabTrigger>
	<language>haskell</language>
</snippet>