<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:name} <- ${0:expression}]]></content>
	<name>Left Arrow</name>
	<description>Left Arrow</description>
	<tabTrigger>&lt;</tabTrigger>
	<language>haskell</language>
</snippet>