<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[let
	${1:name} = ${2:expression}
	in ${0:expression}]]></content>
	<name>let …</name>
	<description>let …</description>
	<tabTrigger>let</tabTrigger>
	<language>haskell</language>
</snippet>