<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[[ ${1:expression} | ${2:name} <- ${3:expression}${4:, ${5:condition}} ]]></content>
	<name>List Comprehension</name>
	<description>List Comprehension</description>
	<tabTrigger>[</tabTrigger>
	<language>haskell</language>
</snippet>