<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[module Main where

main :: IO ()
main = ${0:putStrLn "Hello World"}
]]></content>
	<name>Main</name>
	<description>Main</description>
	<tabTrigger>main</tabTrigger>
	<language>haskell</language>
</snippet>