<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[newtype ${1:Type} = ${0:Other}]]></content>
	<name>newtype …</name>
	<description>newtype …</description>
	<tabTrigger>new</tabTrigger>
	<language>haskell</language>
</snippet>