<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[(${1:Class}) => $0]]></content>
	<name>Type Constraint</name>
	<description>Type Constraint</description>
	<tabTrigger>=</tabTrigger>
	<language>haskell</language>
</snippet>