<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:Type} -> ${0:Type}]]></content>
	<name>Type Sequence</name>
	<description>Type Sequence</description>
	<tabTrigger>-</tabTrigger>
	<language>haskell</language>
</snippet>