<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[type ${1:Type} = ${0:Other}]]></content>
	<name>type …</name>
	<description>type …</description>
	<tabTrigger>typ</tabTrigger>
	<language>haskell</language>
</snippet>