<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:name} :: ${0:Type}]]></content>
	<name>Type Signature</name>
	<description>Type Signature</description>
	<tabTrigger>::</tabTrigger>
	<language>haskell</language>
</snippet>