<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[where
	${0:definitions}]]></content>
	<name>where …</name>
	<description>where …</description>
	<tabTrigger>where</tabTrigger>
	<language>haskell</language>
</snippet>