<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[#!/usr/bin/env perl
]]></content>
	<name>#!/usr/bin/env perl</name>
	<description>#!/usr/bin/env perl</description>
	<tabTrigger>pl</tabTrigger>
	<language>perl</language>
</snippet>