<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:expression} if ${2:condition};
]]></content>
	<name>If – One Line</name>
	<description>If – One Line</description>
	<tabTrigger>xif</tabTrigger>
	<language>perl</language>
</snippet>