<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:expression} unless ${2:condition};
]]></content>
	<name>Unless – One Line</name>
	<description>Unless – One Line</description>
	<tabTrigger>xunless</tabTrigger>
	<language>perl</language>
</snippet>