<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[foreach ${1:my \$${2:x}} (@${3:array}) {
	${4:# body...}
}
]]></content>
	<name>Foreach Loop</name>
	<description>Foreach Loop</description>
	<tabTrigger>fore</tabTrigger>
	<language>perl</language>
</snippet>