<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[sub ${1:function_name} {
	${2:# body...}
}
]]></content>
	<name>Function</name>
	<description>Function</description>
	<tabTrigger>sub</tabTrigger>
	<language>perl</language>
</snippet>