<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[if ($1) {
	${2:# body...}
} elsif ($3) {
	${4:# elsif...}
} else {
	${5:# else...}
}
]]></content>
	<name>If…elsif…else</name>
	<description>If…elsif…else</description>
	<tabTrigger>ifee</tabTrigger>
	<language>perl</language>
</snippet>