<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[if ($1) {
	${2:# body...}
}
]]></content>
	<name>If</name>
	<description>If</description>
	<tabTrigger>if</tabTrigger>
	<language>perl</language>
</snippet>