<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:expression} while ${2:condition};
]]></content>
	<name>While – One LIne</name>
	<description>While – One LIne</description>
	<tabTrigger>xwhile</tabTrigger>
	<language>perl</language>
</snippet>