<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:expression} foreach @${2:array};
]]></content>
	<name>Foreach –  One Line</name>
	<description>Foreach –  One Line</description>
	<tabTrigger>xfore</tabTrigger>
	<language>perl</language>
</snippet>