<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[unless ($1) {
	${2:# body...}
}
]]></content>
	<name>Unless</name>
	<description>Unless</description>
	<tabTrigger>unless</tabTrigger>
	<language>perl</language>
</snippet>