<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[while ($1) {
	${2:# body...}
}
]]></content>
	<name>While</name>
	<description>While</description>
	<tabTrigger>while</tabTrigger>
	<language>perl</language>
</snippet>