<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<a href="http://${1:www.}${2:$SELECTED_TEXT}${3:.com}" title="${4:}">${5:$SELECTED_TEXT}</a>$0]]></content>
	<name>a (word)</name>
	<description>word link</description>
	<tabTrigger>a</tabTrigger>
	<language>html</language>
</snippet>