<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<a href="mailto:${1:$SELECTED_TEXT}${2:?subject=${3:feedback}}">${4:$SELECTED_TEXT}</a>$0]]></content>
	<name>a mailto</name>
	<description>email link</description>
	<tabTrigger>a</tabTrigger>
	<language>html</language>
</snippet>