<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<abbr${1: title="${2:name}"}>${3:$SELECTED_TEXT}</abbr>$0]]></content>
	<name>abbr copy</name>
	<description>abbr copy</description>
	<tabTrigger>abbr</tabTrigger>
	<language>html</language>
</snippet>