<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<abbr${1: title="${2:name}"}>${3:$TM_SELECTED_TEXT}</abbr>$0]]></content>
	<name>abbr</name>
	<description>abbr</description>
	<tabTrigger>abbr</tabTrigger>
	<language>html</language>
</snippet>