<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<acronym${1: title="${2:name}"}>${3:$SELECTED_TEXT}</acronym>$0]]></content>
	<name>acronym</name>
	<description>acronym</description>
	<tabTrigger>acr</tabTrigger>
	<language>html</language>
</snippet>