<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<address>
	${1:$SELECTED_TEXT}
</address>$0]]></content>
	<name>address</name>
	<description>address</description>
	<tabTrigger>add</tabTrigger>
	<language>html</language>
</snippet>