<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<blockquote>
	${1:$SELECTED_TEXT}
</blockquote>$0]]></content>
	<name>blockquote</name>
	<description>blockquote</description>
	<tabTrigger>blo</tabTrigger>
	<language>html</language>
</snippet>