<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<br />]]></content>
	<name>br</name>
	<description>br</description>
	<tabTrigger>br</tabTrigger>
	<language>html</language>
</snippet>