<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<cite>${1:$SELECTED_TEXT}</cite>$0]]></content>
	<name>cite</name>
	<description>cite</description>
	<tabTrigger>cit</tabTrigger>
	<language>html</language>
</snippet>