<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<cite>${1:$SELECTED_TEXT}</cite>$0]]></content>
	<name>cite copy</name>
	<description>cite (copy)</description>
	<tabTrigger>cite</tabTrigger>
	<language>html</language>
</snippet>