<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<code>${1:$SELECTED_TEXT}</code>$0]]></content>
	<name>code (copy)</name>
	<description>code</description>
	<tabTrigger>code</tabTrigger>
	<language>html</language>
</snippet>