<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<del${1: datetime="${NOW(yyyy-MM-dd hh:mm:ss)}"}${2: cite="${3:source}"}>${4:$SELECTED_TEXT}</del>$0]]></content>
	<name>del</name>
	<description>del</description>
	<tabTrigger>del</tabTrigger>
	<language>html</language>
</snippet>