<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;dfn&gt;${1:$SELECTED_TEXT}&lt;/dfn&gt;$0</content>
	<name>dfn</name>
	<description>dfn</description>
	<tabTrigger>dfn</tabTrigger>
	<language>html</language>
</snippet>