<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;div${1: class="${2:name}"}&gt;
	${3:$SELECTED_TEXT}
&lt;/div&gt;</content>
	<name>div class</name>
	<description>div class</description>
	<tabTrigger>div</tabTrigger>
	<language>html</language>
</snippet>