<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;div id="${1:name}"&gt;
	${2:$SELECTED_TEXT}
&lt;/div&gt;&lt;!-- #$1 --&gt;</content>
	<name>div id + cmt</name>
	<description>div id and comment</description>
	<tabTrigger>div</tabTrigger>
	<language>html</language>
</snippet>