<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;div${1: id="${2:name}"}&gt;
	${3:$SELECTED_TEXT}
&lt;/div&gt;</content>
	<name>div id</name>
	<description>div id</description>
	<tabTrigger>div</tabTrigger>
	<language>html</language>
</snippet>