<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;div class="clear"&gt;&lt;/div&gt;</content>
	<name>div clear</name>
	<description>div clear</description>
	<tabTrigger>clear</tabTrigger>
	<language>html</language>
</snippet>