<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![<!DOCTYPE html>]]></content>
    <tabTrigger>doctype</tabTrigger>
    <language>HTML</language>
    <description>Doctype HTML 5</description>
    <name>Doctype HTML 5</name>
</snippet>