<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3/org/TR/html4/strict.dtd">]]></content>
    <tabTrigger>doctype</tabTrigger>
    <language>HTML</language>
    <description>HTML - 4.01 Strict</description>
    <name>Doctype HTML 4.01 Strict</name>
</snippet>