<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<em>${0:${SELECTED_TEXT}}</em>]]></content>
	<tabTrigger>@i</tabTrigger>
	<language>HTML</language>
	<description>Surround with emphasis tags</description>
	<name>Emphasise</name>
</snippet>