<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<fieldset id="${1:fieldsetId}" ${2:class="${3:fieldsetClass}"}>
	<legend>${SELECTED_TEXT}</legend>
	$0
</fieldset>]]></content>
	<tabTrigger>fieldset</tabTrigger>
	<language>HTML</language>
	<description>fieldset</description>
	<name>fieldset</name>
</snippet>