<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;form${1: id="${2:}"} action="${3:action}" method="post"&gt;
	$0
&lt;/form&gt;</content>
	<name>form</name>
	<description>form</description>
	<tabTrigger>form</tabTrigger>
	<language>html</language>
</snippet>