<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;h1&gt;${1:$SELECTED_TEXT}&lt;/h1&gt;$0</content>
	<name>h1</name>
	<description>h1</description>
	<tabTrigger>h1</tabTrigger>
	<language>html</language>
</snippet>