<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;h2&gt;${1:$SELECTED_TEXT}&lt;/h2&gt;$0</content>
	<name>h2</name>
	<description>h2</description>
	<tabTrigger>h2</tabTrigger>
	<language>html</language>
</snippet>