<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;h3&gt;${1:$SELECTED_TEXT}&lt;/h3&gt;$0</content>
	<name>h3</name>
	<description>h3</description>
	<tabTrigger>h3</tabTrigger>
	<language>html</language>
</snippet>