<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;h4&gt;${1:$SELECTED_TEXT}&lt;/h4&gt;$0</content>
	<name>h4</name>
	<description>h4</description>
	<tabTrigger>h4</tabTrigger>
	<language>html</language>
</snippet>