<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;h5&gt;${1:$SELECTED_TEXT}&lt;/h5&gt;$0</content>
	<name>h5</name>
	<description>h5</description>
	<tabTrigger>h5</tabTrigger>
	<language>html</language>
</snippet>