<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;h6&gt;${1:$SELECTED_TEXT}&lt;/h6&gt;$0</content>
	<name>h6</name>
	<description>h6</description>
	<tabTrigger>h6</tabTrigger>
	<language>html</language>
</snippet>