<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<!--[if IE]>${1:${SELECTED_TEXT:	IE Conditional Comment: Internet Explorer	}}<![endif]-->$0]]></content>
	<tabTrigger>!</tabTrigger>
	<language>HTML</language>
	<description>IE Conditional Comment: Internet Explorer</description>
	<name>IE Conditional Comment- Internet Explorer</name>
</snippet>