<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<!--[if IE 6]>${1:${SELECTED_TEXT:	IE Conditional Comment: Internet Explorer 6 only	}}<![endif]-->]]></content>
	<tabTrigger>!</tabTrigger>
	<language>HTML</language>
	<description>IE Conditional Comment: Internet Explorer 6 Only</description>
	<name>IE Conditional Comment- Internet Explorer 6 only</name>
</snippet>