<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<!--[if IE 5.5000]>${1:${SELECTED_TEXT:	IE Conditional Comment: Internet Explorer 5.5 only	}}<![endif]-->]]></content>
	<tabTrigger>!</tabTrigger>
	<language>HTML</language>
	<description>IE Conditional Comment: Internet Explorer 5.5 Only</description>
	<name>IE Conditional Comment- Internet Explorer 5.5 only</name>
</snippet>