<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<!--[if !IE]><!-->${1:${SELECTED_TEXT: IE Conditional Comment: NOT Internet Explorer }}<!--<![end if]-->$0]]></content>
	<tabTrigger>!</tabTrigger>
	<language>HTML</language>
	<description>IE Conditional Comment: NOT Internet Explorer</description>
	<name>IE Conditional Comment- Not Internet Explorer</name>
</snippet>