<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<!--[if IE 5.0]>${1:${SELECTED_TEXT: IE Conditional Comment: Internet Explorer 5.0 only }}<![endif]]>$0]></content>
	<tabTrigger>!</tabTrigger>
	<language>HTML</language>
	<description>IE Conditional Comment: Internet Explorer 5.0 Only</description>
	<name>IE Conditional Comment- Internet Explorer 5.0 only</name>
</snippet>