<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;img src="http://placehold.it/${1:10}x${2:10}" width="$1" height="$2" alt=""&gt;$0</content>
	<name>img (place holder)</name>
	<description>img (place holder)</description>
	<tabTrigger>ph</tabTrigger>
	<language>html</language>
</snippet>
