<?xml version="1.0" encoding="UTF-8"?>
<snippet>
	<content>&lt;input ${1:type="${2:button/checkbox/file/hidden/image/password/radio/reset/submit/text}" }${3:name="${4:name}" }${5:value="$6" }${7:id="${8:$9}"} /&gt;$0</content>
	<name>input (long)</name>
	<description>input (long)</description>
	<tabTrigger>inp</tabTrigger>
	<language>html</language>
</snippet>