<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;input type="image" src="$1" name="${2:submit}" value="${3:submit}" /&gt;$0</content>
	<name>input (img)</name>
	<description>input (img)</description>
	<tabTrigger>inp</tabTrigger>
	<language>html</language>
</snippet>

