<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;ins${1: datetime="${NOW(yyyy-MM-dd hh:mm:ss)}"}${2: cite="${3:source}"}&gt;${4:$SELECTED_TEXT}&lt;/ins&gt;$0</content>
	<name>ins</name>
	<description>ins</description>
	<tabTrigger>ins</tabTrigger>
	<language>html</language>
</snippet>