<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;kbd&gt;${1:$SELECTED_TEXT}&lt;/kbd&gt;$0</content>
	<name>kbd</name>
	<description>kbd</description>
	<tabTrigger>kbd</tabTrigger>
	<language>html</language>
</snippet>