<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;label${1: for="${2:name}"}&gt;$3&lt;/label&gt;$0</content>
	<name>label</name>
	<description>label</description>
	<tabTrigger>lab</tabTrigger>
	<language>html</language>
</snippet>