<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;legend&gt;$1&lt;/legend&gt;$0</content>
	<name>legend</name>
	<description>legend</description>
	<tabTrigger>leg</tabTrigger>
	<language>html</language>
</snippet>