<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;dl&gt;
	${0:}
&lt;/dl&gt;</content>
	<name>list dl</name>
	<description>list dl</description>
	<tabTrigger>dl</tabTrigger>
	<language>html</language>
</snippet>