<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;ul"&gt;
   &lt;li&gt;${SELECTED_TEXT}&lt;/li&gt;
&lt;/ul&gt;$0</content>
	<name>list wrap ul</name>
	<description>wrap selection in unordered list</description>
	<language>html</language>
</snippet>