<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;ol class="${1:name}"&gt;
   &lt;li&gt;${SELECTED_TEXT}&lt;/li&gt;
&lt;/ol&gt;$0</content>
	<name>list wrap ol class</name>
	<description>wrap selection in ordered list with class</description>
	<language>html</language>
</snippet>