<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;ol&gt;
	${0:}
&lt;/ol&gt;</content>
	<name>list ol</name>
	<description>ordered list</description>
	<tabTrigger>ol</tabTrigger>
	<language>html</language>
</snippet>