<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;dt&gt;${1:$SELECTED_TEXT}&lt;/dt&gt;&lt;dd&gt;$2&lt;/dd&gt;$0</content>
	<name>list dd + dt</name>
	<description>list dd and dt</description>
	<tabTrigger>dt</tabTrigger>
	<language>html</language>
</snippet>