<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;ul id="${1:name}"&gt;
   &lt;li&gt;${SELECTED_TEXT}&lt;/li&gt;
&lt;/ul&gt;$0</content>
	<name>list wrap ul id</name>
	<description>wrap selection in unordered list with id</description>
	<language>html</language>
</snippet>