<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;ol&gt;
   &lt;li&gt;${SELECTED_TEXT}&lt;/li&gt;
&lt;/ol&gt;$0</content>
	<name>list wrap ol</name>
	<description>wrap selection in ordered list</description>
	<language>html</language>
</snippet>