<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;li&gt;${1:$SELECTED_TEXT}&lt;/li&gt;$0</content>
	<name>list li</name>
	<description>list item</description>
	<tabTrigger>li</tabTrigger>
	<language>html</language>
</snippet>