<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;ul&gt;
	${0:}
&lt;/ul&gt;</content>
	<name>list ul</name>
	<description>unordered list</description>
	<tabTrigger>ul</tabTrigger>
	<language>html</language>
</snippet>