<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;nav${1: id="${2:name}"}&gt;
	${3:$SELECTED_TEXT}
&lt;/nav&gt;</content>
	<name>nav</name>
	<description>nav</description>
	<tabTrigger>nav</tabTrigger>
	<language>html</language>
</snippet>