<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[$nbsp;]]></content>
	<tabTrigger>nb</tabTrigger>
	<language>HTML</language>
	<description>Non-Breaking Space</description>
	<name>Non-Breaking Space</name>
</snippet>