<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;optgroup label="${1:value}"&gt;
	${2:}
&lt;/optgroup&gt;$0</content>
	<name>optgroup</name>
	<description>optgroup</description>
	<tabTrigger>optgr</tabTrigger>
	<language>html</language>
</snippet>