<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<option${1: value="${2:option}"}>${3:$2}</option>]]></content>
	<tabTrigger>opt</tabTrigger>
	<language>HTML</language>
	<description>option</description>
	<name>option</name>
</snippet>