<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;p&gt;${1:$SELECTED_TEXT}&lt;/p&gt;$0</content>
	<tabTrigger>p</tabTrigger>
	<language>HTML</language>
	<description>p</description>
	<name>p</name>
</snippet>