<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;q${1: cite="${2:source}"}&gt;${3:$SELECTED_TEXT}&lt;/q&gt;$0</content>
	<tabTrigger>q</tabTrigger>
	<language>HTML</language>
	<description>q</description>
	<name>q</name>
</snippet>