<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;samp&gt;${1:$TM_SELECTED_TEXT}&lt;/samp&gt;$0</content>
	<tabTrigger>sam</tabTrigger>
	<language>HTML</language>
	<description>samp copy</description>
	<name>samp copy</name>
</snippet>