<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;section${1: class="${2:name}"}&gt;
	${3:$SELECTED_TEXT}
&lt;/section&gt;</content>
	<tabTrigger>sec</tabTrigger>
	<language>HTML</language>
	<description>section class</description>
	<name>section class</name>
</snippet>