<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;section${1: id="${2:name}"}&gt;
	${3:$SELECTED_TEXT}
&lt;/section&gt;</content>
	<tabTrigger>sec</tabTrigger>
	<language>HTML</language>
	<description>section id</description>
	<name>section id</name>
</snippet>