<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;select${1: name="${2:name}"}&gt;
	$0
&lt;/select&gt;</content>
	<tabTrigger>sel</tabTrigger>
	<language>HTML</language>
	<description>select</description>
	<name>select</name>
</snippet>