<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;span${1: class="${2:name}"}&gt;${3:$SELECTED_TEXT}&lt;/span&gt;$0</content>
	<tabTrigger>span</tabTrigger>
	<language>HTML</language>
	<description>span with class</description>
	<name>span</name>
</snippet>