<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<strong>${0:${SELECTED_TEXT}}</string>]]></content>
	<tabTrigger>strong</tabTrigger>
	<language>HTML</language>
	<description>Surround with Strong</description>
	<name>strong</name>
</snippet>