<?xml version="1.0" encoding="UTF-8"?>
<snippet>
	<content>&lt;sub${1: class="${2:name}"}&gt;${3:$SELECTED_TEXT}&lt;/sub&gt;$0</content>
	<tabTrigger>sub</tabTrigger>
	<language>HTML</language>
	<description>sub</description>
	<name>sub</name>
</snippet>