<?xml version="1.0" encoding="UTF-8"?>
<snippet>
	<content>&lt;sup${1: class="${2:name}"}&gt;${3:$SELECTED_TEXT}&lt;/sup&gt;$0</content>
	<tabTrigger>sup</tabTrigger>
	<language>HTML</language>
	<description>sup</description>
	<name>sup</name>
</snippet>