<?xml version="1.0" encoding="UTF-8"?>
<snippet>
	<content>&lt;table&gt;
	$0
&lt;/table&gt;</content>
	<tabTrigger>table</tabTrigger>
	<language>HTML</language>
	<description>table</description>
	<name>table</name>
</snippet>