<?xml version="1.0" encoding="UTF-8"?>
<snippet>
	<content>&lt;td&gt;$1&lt;/td&gt;$0</content>
	<tabTrigger>td</tabTrigger>
	<language>HTML</language>
	<description>td</description>
	<name>td</name>
</snippet>