<?xml version="1.0" encoding="UTF-8"?>
<snippet>
	<content>&lt;textarea name="${1:Name}" rows="${2:8}" cols="${3:40}"&gt;$4&lt;/textarea&gt;$0</content>
	<tabTrigger>tex</tabTrigger>
	<language>HTML</language>
	<description>textarea</description>
	<name>textarea</name>
</snippet>