<?xml version="1.0" encoding="UTF-8"?>
<snippet>
	<content>&lt;th&gt;$1&lt;/th&gt;$0</content>
	<tabTrigger>th</tabTrigger>
	<language>HTML</language>
	<description>th</description>
	<name>th</name>
</snippet>