<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<${1:p}${2: attribute=""}>$SELECTED_TEXT</$1>]]></content>
	<tabTrigger>tag</tabTrigger>
	<language>HTML</language>
	<description>Surround with Open and Close Tag</description>
	<name>Wrap selection in tag</name>
</snippet>