<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[# encoding: ${1:UTF-8}
]]></content>
	<name># encoding: UTF-8</name>
	<description># encoding: UTF-8</description>
	<tabTrigger>utf8</tabTrigger>
	<language>ruby</language>
</snippet>