<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[#!/usr/bin/env ruby${1: -wKU}
]]></content>
	<name>#!/usr/bin/env ruby -wKU</name>
	<description>#!/usr/bin/env ruby -wKU</description>
	<tabTrigger>rb</tabTrigger>
	<language>ruby</language>
</snippet>