<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[__END__
]]></content>
	<name>__END__</name>
	<description>__END__</description>
	<tabTrigger>end</tabTrigger>
	<language>ruby</language>
</snippet>