<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[ :yields: ${0:arguments}]]></content>
	<name>:yields:</name>
	<description>:yields:</description>
	<tabTrigger>y</tabTrigger>
	<language>ruby</language>
</snippet>