<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[alias_method :${1:new_name}, :${0:old_name}]]></content>
	<name>alias_method ..</name>
	<description>alias_method ..</description>
	<tabTrigger>am</tabTrigger>
	<language>ruby</language>
</snippet>