<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[if __FILE__ == \$PROGRAM_NAME
	$0
end]]></content>
	<name>application { .. }</name>
	<description>application { .. }</description>
	<tabTrigger>app</tabTrigger>
	<language>ruby</language>
</snippet>