<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_nil(${0:instance})]]></content>
	<name>assert_nil(..)</name>
	<description>assert_nil(..)</description>
	<tabTrigger>asn</tabTrigger>
	<language>ruby</language>
</snippet>