<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_throws(:${1:expected}) { $0 }]]></content>
	<name>assert_throws(..) { .. }</name>
	<description>assert_throws(..) { .. }</description>
	<tabTrigger>ast</tabTrigger>
	<language>ruby</language>
</snippet>