<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_respond_to(${1:object}, :${0:method})]]></content>
	<name>assert_respond_to(..)</name>
	<description>assert_respond_to(..)</description>
	<tabTrigger>asrt</tabTrigger>
	<language>ruby</language>
</snippet>