<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_equal(${1:expected}, ${0:actual})]]></content>
	<name>assert_equal(..)</name>
	<description>assert_equal(..)</description>
	<tabTrigger>ase</tabTrigger>
	<language>ruby</language>
</snippet>