<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_in_delta(${1:expected_float}, ${2:actual_float}, ${0:2 ** -20})]]></content>
	<name>assert_in_delta(..)</name>
	<description>assert_in_delta(..)</description>
	<tabTrigger>asid</tabTrigger>
	<language>ruby</language>
</snippet>