<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert(${1:test}, "${0:Failure message.}")]]></content>
	<name>assert(..)</name>
	<description>assert(..)</description>
	<tabTrigger>as</tabTrigger>
	<language>ruby</language>
</snippet>