<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_not_nil(${0:instance})]]></content>
	<name>assert_not_nil(..)</name>
	<description>assert_not_nil(..)</description>
	<tabTrigger>asnn</tabTrigger>
	<language>ruby</language>
</snippet>