<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_nothing_thrown { $0 }]]></content>
	<name>assert_nothing_thrown { .. }</name>
	<description>assert_nothing_thrown { .. }</description>
	<tabTrigger>asnt</tabTrigger>
	<language>ruby</language>
</snippet>