<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_same(${1:expected}, ${0:actual})]]></content>
	<name>assert_same(..)</name>
	<description>assert_same(..)</description>
	<tabTrigger>ass</tabTrigger>
	<language>ruby</language>
</snippet>