<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_operator(${1:left}, :${2:operator}, ${0:right})]]></content>
	<name>assert_operator(..)</name>
	<description>assert_operator(..)</description>
	<tabTrigger>aso</tabTrigger>
	<language>ruby</language>
</snippet>