<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_raise(${1:Exception}) { $0 }]]></content>
	<name>assert_raise(..) { .. }</name>
	<description>assert_raise(..) { .. }</description>
	<tabTrigger>asr</tabTrigger>
	<language>ruby</language>
</snippet>