<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_nothing_raised(${1:Exception}) { $0 }]]></content>
	<name>assert_nothing_raised(..) { .. }</name>
	<description>assert_nothing_raised(..) { .. }</description>
	<tabTrigger>asnr</tabTrigger>
	<language>ruby</language>
</snippet>