<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_not_equal(${1:unexpected}, ${0:actual})]]></content>
	<name>assert_not_equal(..)</name>
	<description>assert_not_equal(..)</description>
	<tabTrigger>asne</tabTrigger>
	<language>ruby</language>
</snippet>