<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_match(/${1:expected_pattern}/, ${0:actual_string})]]></content>
	<name>assert_match(..)</name>
	<description>assert_match(..)</description>
	<tabTrigger>asm</tabTrigger>
	<language>ruby</language>
</snippet>