<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[assert_not_same(${1:unexpected}, ${0:actual})]]></content>
	<name>assert_not_same(..)</name>
	<description>assert_not_same(..)</description>
	<tabTrigger>asns</tabTrigger>
	<language>ruby</language>
</snippet>