<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[attr_accessor :${0:attr_names}]]></content>
	<name>attr_accessor ..</name>
	<description>attr_accessor ..</description>
	<tabTrigger>rw</tabTrigger>
	<language>ruby</language>
</snippet>