<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[attr_writer :${0:attr_names}]]></content>
	<name>attr_writer ..</name>
	<description>attr_writer ..</description>
	<tabTrigger>w</tabTrigger>
	<language>ruby</language>
</snippet>