<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[case ${1:object}
when ${2:condition}
	$0
end]]></content>
	<name>case … end</name>
	<description>case … end</description>
	<tabTrigger>case</tabTrigger>
	<language>ruby</language>
</snippet>