<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[class ${1:${FILENAME_NO_EXTENSION}}
	$0
end]]></content>
	<name>class .. end</name>
	<description>class .. end</description>
	<tabTrigger>cla</tabTrigger>
	<language>ruby</language>
</snippet>