<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[class ${1:${FILENAME_NO_EXTENSION}}
	def initialize${2:(${3:args})}
		$0
	end
	
	
end]]></content>
	<name>class .. initialize .. end</name>
	<description>class .. initialize .. end</description>
	<tabTrigger>cla</tabTrigger>
	<language>ruby</language>
</snippet>