<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[split("::").inject(Object) { |par, const| par.const_get(const) }]]></content>
	<name>class_from_name()</name>
	<description>class_from_name()</description>
	<tabTrigger>clafn</tabTrigger>
	<language>ruby</language>
</snippet>