<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[Marshal.load(Marshal.dump(${0:obj_to_copy}))]]></content>
	<name>deep_copy(..)</name>
	<description>deep_copy(..)</description>
	<tabTrigger>deec</tabTrigger>
	<language>ruby</language>
</snippet>