<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[def self.${1:class_method_name}
	$0
end]]></content>
	<name>def self .. end</name>
	<description>def self .. end</description>
	<tabTrigger>defs</tabTrigger>
	<language>ruby</language>
</snippet>