<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[def test_${1:case_name}
	$0
end]]></content>
	<name>def test_ .. end</name>
	<description>def test_ .. end</description>
	<tabTrigger>deft</tabTrigger>
	<language>ruby</language>
</snippet>