<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[def ${1:method_name}
	$0
end]]></content>
	<name>def … end</name>
	<description>def … end</description>
	<tabTrigger>def</tabTrigger>
	<language>ruby</language>
</snippet>