<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[def_delegators :${1:@del_obj}, :${0:del_methods}]]></content>
	<name>def_delegators ..</name>
	<description>def_delegators ..</description>
	<tabTrigger>defds</tabTrigger>
	<language>ruby</language>
</snippet>