<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[def_delegator :${1:@del_obj}, :${2:del_meth}, :${3:new_name}]]></content>
	<name>def_delegator ..</name>
	<description>def_delegator ..</description>
	<tabTrigger>defd</tabTrigger>
	<language>ruby</language>
</snippet>