<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[define_method :${1:method_name} do${2: |${3:args}|}
  $0
end]]></content>
	<name>define_method ... end</name>
	<description>define_method ... end</description>
	<tabTrigger>defm</tabTrigger>
	<language>ruby</language>
</snippet>