<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[Dir[${1:"${2:glob/**/*.rb}"}]]]></content>
	<name>Dir[".."]</name>
	<description>Dir[".."]</description>
	<tabTrigger>Dir</tabTrigger>
	<language>ruby</language>
</snippet>