<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[elsif ${1:condition}
	$0]]></content>
	<name>elsif ...</name>
	<description>elsif ...</description>
	<tabTrigger>elsif</tabTrigger>
	<language>ruby</language>
</snippet>