<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[#{${1:${SELECTED_TEXT}}}]]></content>
	<name>Embedded Code — #{…}</name>
	<description>Embedded Code — #{…}</description>
</snippet>