<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[extend Forwardable]]></content>
	<name>extend Forwardable</name>
	<description>extend Forwardable</description>
	<tabTrigger>Forw-</tabTrigger>
	<language>ruby</language>
</snippet>