<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[File.read(${1:"${2:path/to/file}"})]]></content>
	<name>File.read("..")</name>
	<description>File.read("..")</description>
	<tabTrigger>File</tabTrigger>
	<language>ruby</language>
</snippet>