<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[inject(Array.new) { |${1:arr}, ${2:a}| ${1:arr}.push(*${2:a}) }]]></content>
	<name>flatten_once()</name>
	<description>flatten_once()</description>
	<tabTrigger>flao</tabTrigger>
	<language>ruby</language>
</snippet>