<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[flunk("${1:Failure message.}")$0]]></content>
	<name>flunk(..)</name>
	<description>flunk(..)</description>
	<tabTrigger>flu</tabTrigger>
	<language>ruby</language>
</snippet>