<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[:${1:key} => ${2:"${3:value}"}${4:, }]]></content>
	<name>Hash Pair — :key => "value"</name>
	<description>Hash Pair — :key => "value"</description>
	<tabTrigger>:</tabTrigger>
	<language>ruby</language>
</snippet>