<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[if ${1:condition}
	$2
else
	$3
end]]></content>
	<name>if … else … end</name>
	<description>if … else … end</description>
	<tabTrigger>ife</tabTrigger>
	<language>ruby</language>
</snippet>