<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[if ${1:condition}
	$0
end]]></content>
	<name>if … end</name>
	<description>if … end</description>
	<tabTrigger>if</tabTrigger>
	<language>ruby</language>
</snippet>