<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[include Comparable

def <=>(other)
	$0
end]]></content>
	<name>include Comparable ..</name>
	<description>include Comparable ..</description>
	<tabTrigger>Comp</tabTrigger>
	<language>ruby</language>
</snippet>