<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[include Enumerable

def each(&block)
	$0
end]]></content>
	<name>include Enumerable ..</name>
	<description>include Enumerable ..</description>
	<tabTrigger>Enum</tabTrigger>
	<language>ruby</language>
</snippet>