<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[loop { $0 }]]></content>
	<name>loop { .. }</name>
	<description>loop { .. }</description>
	<tabTrigger>loo</tabTrigger>
	<language>ruby</language>
</snippet>