<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[File.open(${1:"${2:path/to/file}.dump"}, "rb") { |${3:file}| Marshal.load(${3:file}) }]]></content>
	<name>Marshal.load(obj)</name>
	<description>Marshal.load(obj)</description>
	<tabTrigger>Ml</tabTrigger>
	<language>ruby</language>
</snippet>