<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[module ${1:${FILENAME_NO_EXTENSION}
	module_function
	
	$0
end]]></content>
	<name>module .. module_function .. end</name>
	<description>module .. module_function .. end</description>
	<tabTrigger>mod</tabTrigger>
	<language>ruby</language>
</snippet>