<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[module ${1:${FILENAME_NO_EXTENSION}}
	$0
end]]></content>
	<name>module .. end</name>
	<description>module .. end</description>
	<tabTrigger>mod</tabTrigger>
	<language>ruby</language>
</snippet>