<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[module ${1:${FILENAME_NO_EXTENSION}}
	module ClassMethods
		$0
	end
	
	module InstanceMethods
		
	end
	
	def self.included(receiver)
		receiver.extend         ClassMethods
		receiver.send :include, InstanceMethods
	end
end]]></content>
	<name>module .. ClassMethods .. end</name>
	<description>module .. ClassMethods .. end</description>
	<tabTrigger>mod</tabTrigger>
	<language>ruby</language>
</snippet>