<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[namespace :${1:${FILENAME_NO_EXTENSION}} do
	$0
end]]></content>
	<name>namespace :.. do .. end</name>
	<description>namespace :.. do .. end</description>
	<tabTrigger>nam</tabTrigger>
	<language>ruby</language>
</snippet>