<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[pass("${1:Message.}")$0]]></content>
	<name>pass(..)</name>
	<description>pass(..)</description>
	<tabTrigger>pas</tabTrigger>
	<language>ruby</language>
</snippet>