<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[File.join(File.dirname(__FILE__), *%w[${1:rel path here}])]]></content>
	<name>path_from_here( .. )</name>
	<description>path_from_here( .. )</description>
	<tabTrigger>patfh</tabTrigger>
	<language>ruby</language>
</snippet>