<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[PStore.new(${1:"${2:file_name.pstore}"})]]></content>
	<name>PStore.new( .. )</name>
	<description>PStore.new( .. )</description>
	<tabTrigger>Pn-</tabTrigger>
	<language>ruby</language>
</snippet>