<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[sort_by { rand }]]></content>
	<name>randomize()</name>
	<description>randomize()</description>
	<tabTrigger>ran</tabTrigger>
	<language>ruby</language>
</snippet>