<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[require "$0"]]></content>
	<name>require ".."</name>
	<description>require ".."</description>
	<tabTrigger>req</tabTrigger>
	<language>ruby</language>
</snippet>