<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[require "test/unit"

require "tc_${1:test_case_file}"
require "tc_${2:test_case_file}"
]]></content>
	<name>require "tc_.." ..</name>
	<description>require "tc_.." ..</description>
	<tabTrigger>ts</tabTrigger>
	<language>ruby</language>
</snippet>