<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[require "$0"]]></content>
	<name>require_gem ".."</name>
	<description>require_gem ".."</description>
	<tabTrigger>reqg-</tabTrigger>
	<language>ruby</language>
</snippet>