<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[class << self; self end]]></content>
	<name>singleton_class()</name>
	<description>singleton_class()</description>
	<tabTrigger>sinc</tabTrigger>
	<language>ruby</language>
</snippet>