<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[skip("${1:Message.}")$0]]></content>
	<name>skip(..)</name>
	<description>skip(..)</description>
	<tabTrigger>ski</tabTrigger>
	<language>ruby</language>
</snippet>