<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[transaction${1:\(${2:true})} { $0 }]]></content>
	<name>transaction( .. ) { .. }</name>
	<description>transaction( .. ) { .. }</description>
	<tabTrigger>tra</tabTrigger>
	<language>ruby</language>
</snippet>