<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[ARGF.each_line$1 do |${2:line}|
	$0
end]]></content>
	<name>unix_filter { .. }</name>
	<description>unix_filter { .. }</description>
	<tabTrigger>unif</tabTrigger>
	<language>ruby</language>
</snippet>