<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[unless ${1:condition}
	$0
end]]></content>
	<name>unless … end</name>
	<description>unless … end</description>
	<tabTrigger>unless</tabTrigger>
	<language>ruby</language>
</snippet>