<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[opts.on( "-${1:o}", "--${2:long-option-name}"${3:, ${4:String}},
         "${5:Option description.}" ) do |${6:opt}|
	$0
end]]></content>
	<name>option(..)</name>
	<description>option(..)</description>
	<tabTrigger>opt</tabTrigger>
	<language>ruby</language>
</snippet>