<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[if ARGV.$1
	abort "Usage:  #{\$PROGRAM_NAME} ${2:ARGS_GO_HERE}"
end]]></content>
	<name>usage_if()</name>
	<description>usage_if()</description>
	<tabTrigger>usai</tabTrigger>
	<language>ruby</language>
</snippet>