<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[unless ARGV.$1
	abort "Usage:  #{\$PROGRAM_NAME} ${2:ARGS_GO_HERE}"
end]]></content>
	<name>usage_unless()</name>
	<description>usage_unless()</description>
	<tabTrigger>usau</tabTrigger>
	<language>ruby</language>
</snippet>