<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[when ${1:condition}
	$0]]></content>
	<name>when …</name>
	<description>when …</description>
	<tabTrigger>when</tabTrigger>
	<language>ruby</language>
</snippet>