<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[REXML::Document.new(File.read(${1:"${2:path/to/file}"}))]]></content>
	<name>xmlread(..)</name>
	<description>xmlread(..)</description>
	<tabTrigger>xml-</tabTrigger>
	<language>ruby</language>
</snippet>