<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[elements.each(${1:"${2://XPath}"}) do |${3:node}|
	$0
end]]></content>
	<name>xpath(..) { .. }</name>
	<description>xpath(..) { .. }</description>
	<tabTrigger>xpa</tabTrigger>
	<language>ruby</language>
</snippet>