<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[File.open(${1:"${2:path/to/file}.yaml"}) { |${3:file}| YAML.load(${3:file}) }]]></content>
	<name>YAML.load(file)</name>
	<description>YAML.load(file)</description>
	<tabTrigger>Yl-</tabTrigger>
	<language>ruby</language>
</snippet>