<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[File.open(${1:"${2:path/to/file}.yaml"}, "w") { |${3:file}| YAML.dump(${4:obj}, ${3:file}) }]]></content>
	<name>YAML.dump(.., file)</name>
	<description>YAML.dump(.., file)</description>
	<tabTrigger>Yd-</tabTrigger>
	<language>ruby</language>
</snippet>