<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[Bindable${1:(event="${2:eventName}")}]]]></content>
    <tabTrigger>bin</tabTrigger>
    <language>ActionScript</language>
    <description>[Bindable]</description>
    <name>[Bindable]</name>
</snippet>