<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[SWF(width='${1:550}', height='${2:400}', backgroundColor='#${3:FFFFFF}', frameRate='${4:60}')]]]></content>
    <tabTrigger>swf</tabTrigger>
    <language>ActionScript</language>
    <description>[SWF]</description>
    <name>[SWF]</name>
</snippet>