<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[break ${1:label};]]></content>
    <tabTrigger>break</tabTrigger>
    <language>ActionScript</language>
    <description>br</description>
    <name>break</name>
</snippet>