<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[case ${1:expression} :
	$0
break;]]></content>
    <tabTrigger>cs</tabTrigger>
    <language>ActionScript</language>
    <description>case</description>
    <name>case</name>
</snippet>