<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[catch (e:${1:Error})
{
	$0
}]]></content>
    <tabTrigger>ca</tabTrigger>
    <language>ActionScript</language>
    <description>catch</description>
    <name>catch</name>
</snippet>