<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[? ${1:trueExpression} : ${2:falseExpression}$0]]></content>
    <tabTrigger>?</tabTrigger>
    <language>ActionScript</language>
    <description>Conditional Expression</description>
    <name>Conditional Expression</name>
</snippet>