<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[const ${1:name}:${2:Object};]]></content>
    <tabTrigger>co</tabTrigger>
    <language>ActionScript</language>
    <description>const</description>
    <name>const</name>
</snippet>