<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[default ${1:expression} :
	$0
break;]]></content>
    <tabTrigger>def</tabTrigger>
    <language>ActionScript</language>
    <description>default</description>
    <name>default</name>
</snippet>