<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[default xml namespace = ${1:nsName};]]></content>
    <tabTrigger>dex</tabTrigger>
    <language>ActionScript</language>
    <description>default xml namespace</description>
    <name>default xml namespace</name>
</snippet>