<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[dispatchEvent (new ${1:Event} ($1.$2$0)); // ${2:CLICK}]]></content>
    <tabTrigger>dispatch</tabTrigger>
    <language>ActionScript</language>
    <description>dispatchEvent</description>
    <name>dispatchEvent</name>
</snippet>