<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[
* ]]></content>
	<tabtrigger>docnl</tabtrigger>
    <language>ActionScript</language>
    <description>Creates a newline in documentation</description>
    <name>Documentation Newline</name>
</snippet>
