<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[for (var ${1:p}:String in ${2:obj})
{
	$0
}]]></content>
    <tabTrigger>fori</tabTrigger>
    <language>ActionScript</language>
    <description>for in loop</description>
    <name>for in loop</name>
</snippet>