s<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[for each (var ${1:item}:${2:Object} in ${3:obj})
{
	$0
}]]></content>
    <tabTrigger>fore</tabTrigger>
    <language>ActionScript</language>
    <description>for each loop</description>
    <name>for each loop</name>
</snippet>