<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[include "${1:path/filename.as}";]]></content>
    <tabTrigger>inc</tabTrigger>
    <language>ActionScript</language>
    <description>include</description>
    <name>include</name>
</snippet>