<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[Log.getLogger("${1:`echo ${filename}`}").${2:error}(${3:message});]]></content>
    <tabTrigger>log</tabTrigger>
    <language>ActionScript</language>
    <description>log</description>
    <name>log</name>
</snippet>