<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[<${1:name}${2: attrs}>$0</$1>]]></content>
    <tabTrigger>&lt;</tabTrigger>
    <language>ActionScript</language>
    <description>Long Tag</description>
    <name>Long Tag</name>
</snippet>