<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[return ${1:null};]]></content>
    <tabTrigger>ret</tabTrigger>
    <language>ActionScript</language>
    <description>return</description>
    <name>return</name>
</snippet>