<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[switch ($1)
{
	$0
}]]></content>
    <tabTrigger>sw</tabTrigger>
    <language>ActionScript</language>
    <description>switch</description>
    <name>switch</name>
</snippet>