<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[throw new ${1:Error}("${2:Error Message}");]]></content>
    <tabTrigger>th</tabTrigger>
    <language>ActionScript</language>
    <description>throw new error</description>
    <name>throw</name>
</snippet>