<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[try
{
	$1
}
catch (e:Error)
{
	$2
}
finally
{
	$3
}]]></content>
    <tabTrigger>tcf</tabTrigger>
    <language>ActionScript</language>
    <description>try catch finally</description>
    <name>try catch finally</name>
</snippet>
