<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[try
{
	$1
}]]></content>
    <tabTrigger>try</tabTrigger>
    <language>ActionScript</language>
    <description>try</description>
    <name>try</name>
</snippet>