<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[use namespace ${1:nsName};]]></content>
    <tabTrigger>use</tabTrigger>
    <language>ActionScript</language>
    <description>use</description>
    <name>use</name>
</snippet>