<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[Vector <${1:Type}>]]></content>
    <tabTrigger>ve</tabTrigger>
    <language>ActionScript</language>
    <description>Vector</description>
    <name>Vector</name>
</snippet>