<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[abstract ]]></content>
    <tabTrigger>ab</tabTrigger>
    <language>java</language>
    <description>abstract</description>
    <name>abstract modifier</name>
</snippet>
