<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[assert ${1:test}${2: : "${3:Failure message}"};$0]]></content>
    <tabTrigger>as</tabTrigger>
    <language>java</language>
    <description>assert</description>
    <name>assert statement</name>
</snippet>
