<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[break;
]]></content>
    <tabTrigger>br</tabTrigger>
    <language>java</language>
    <description>break</description>
    <name>break keyword</name>
</snippet>
