<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[class ${1:${filename_no_extension}} ${2:extends ${3:Parent} }${4:implements ${5:Interface} }{
   $0
}]]></content>
    <tabTrigger>cl</tabTrigger>
    <language>java</language>
    <description>class</description>
    <name>class declaration</name>
</snippet>
