<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[static public final String ${1:var} = "$2";$0]]></content>
    <tabTrigger>cos</tabTrigger>
    <language>java</language>
    <description>constant string</description>
    <name>constant string declaration</name>
</snippet>
