<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[final ]]></content>
    <tabTrigger>fi</tabTrigger>
    <language>java</language>
    <description>final</description>
    <name>final modifier</name>
</snippet>
