<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[for (${1:${2:Object} ${3:obj}} : ${4:array}) {
   $0
}]]></content>
    <tabTrigger>fore</tabTrigger>
    <language>java</language>
    <description>for (each)</description>
    <name>for-each loop</name>
</snippet>
