<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[import ]]></content>
    <tabTrigger>im</tabTrigger>
    <language>java</language>
    <description>import</description>
    <name>import keyword</name>
</snippet>
