<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[import junit.framework.TestCase;
$0]]></content>
    <tabTrigger>imt</tabTrigger>
    <language>java</language>
    <description>import junit.framework.TestCase;</description>
    <name>import junit.framework.TestCase</name>
</snippet>
