<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[java.math.]]></content>
    <tabTrigger>j.m</tabTrigger>
    <language>java</language>
    <description>java.math.</description>
    <name>java.math.</name>
</snippet>
