<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[java.io.]]></content>
    <tabTrigger>j.i</tabTrigger>
    <language>java</language>
    <description>java.io.</description>
    <name>java.io.</name>
</snippet>
