<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[java.net.]]></content>
    <tabTrigger>j.n</tabTrigger>
    <language>java</language>
    <description>java.net.</description>
    <name>java.net.</name>
</snippet>
