<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[${1:void} ${2:method}($3) ${4:throws $5 }{
   $0
}
]]></content>
    <tabTrigger>m</tabTrigger>
    <language>java</language>
    <description>method</description>
    <name>method declaration</name>
</snippet>
