<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[package ${1:com.company.example};$0]]></content>
    <tabTrigger>pa</tabTrigger>
    <language>java</language>
    <description>package</description>
    <name>package keyword</name>
</snippet>
