<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[System.out.print($1);$0]]></content>
    <tabTrigger>p</tabTrigger>
    <language>java</language>
    <description>print</description>
    <name>print() method</name>
</snippet>
