<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[private ]]></content>
    <tabTrigger>pr</tabTrigger>
    <language>java</language>
    <description>private</description>
    <name>private modifier</name>
</snippet>
