<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[protected ]]></content>
    <tabTrigger>po</tabTrigger>
    <language>java</language>
    <description>protected</description>
    <name>protected modifier</name>
</snippet>
