<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[public ]]></content>
    <tabTrigger>pu</tabTrigger>
    <language>java</language>
    <description>public</description>
    <name>public modifier</name>
</snippet>
