<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[static ]]></content>
    <tabTrigger>st</tabTrigger>
    <language>java</language>
    <description>static</description>
    <name>static modifier</name>
</snippet>
