<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[synchronized ]]></content>
    <tabTrigger>sy</tabTrigger>
    <language>java</language>
    <description>synchronized</description>
    <name>synchronized modifier</name>
</snippet>
