<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[throw $0]]></content>
    <tabTrigger>th</tabTrigger>
    <language>java</language>
    <description>throw</description>
    <name>throw keyword</name>
</snippet>
