<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[volatile ]]></content>
    <tabTrigger>vo</tabTrigger>
    <language>java</language>
    <description>volatiler</description>
    <name>volatile modifier</name>
</snippet>
