<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[@selector(${1:method}:)]]></content>
    <tabTrigger>sel</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>@selector(...)</description>
    <name>@selector</name>
</snippet>