<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[@interface ${1:${filename_no_extension}} (${2:CategoryName})
@end

@implementation $1 ($2)
	$0
@end]]></content>
    <tabTrigger>cat</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Category</description>
    <name>Category</name>
</snippet>