<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[+ (${1:id})${2:method}${3::(${4:id})${5:anArgument}}
{
	$0${6:
	return nil;}
}]]></content>
    <tabTrigger>M</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Class Method</description>
    <name>Class Method</name>
</snippet>