<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[+ (${1:id})${0:method};]]></content>
    <tabTrigger>M</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Interface: Class Method</description>
    <name>Interface: Class Method</name>
</snippet>
