<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[if([${1:[self delegate]} respondsToSelector:@selector(${2:selfDidSomething:})])
	[$1 $2];]]></content>
    <tabTrigger>sel</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Delegate Responds to Selector</description>
    <name>Delegate Responds to Selection</name>
</snippet>