<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[NSThread detachNewThreadSelector:@selector(${1:method}:) toTarget:${2:aTarget} withObject:${3:anArgument}]]]></content>
    <tabTrigger>thread</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Detach New NSThread</description>
    <name>Detach New NSThread</name>
</snippet>