<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[for(${1:id} ${2:item} in ${3:array})
{
	$0
}]]></content>
    <tabTrigger>forin</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>for(... in ...)</description>
    <name>for in loop</name>
</snippet>