<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[#import "${1:${filename_no_extension}.h}"]]></content>
    <tabTrigger>imp</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>#import "..."</description>
    <name>#import</name>
</snippet>