<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[+ (void)initialize
{
	[[NSUserDefaults standardUserDefaults] registerDefaults:@{
		$0@"key": @"value",
	}];
}]]></content>
    <tabTrigger>I</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Initialize Implementation</description>
    <name>Initialize Implementation</name>
</snippet>