<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[bind:@"${2:binding}" toObject:${3:observableController} withKeyPath:@"${4keyPath}" options:${5:nil}]]></content>
    <tabTrigger>bind</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Key_value binding</description>
    <name>Key_value binding</name>
</snippet>