<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[[self lockFocus];
$0
[self unlockFocus];]]></content>
    <tabTrigger>focus</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Lock Focus</description>
    <name>Lock Focus</name>
</snippet>