<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[- (${1:id})${2:${selected_text:method}}${3::(${4:SomeType})${5:anArgument}}
{
	$0${6:return nil;}
}]]></content>
    <tabTrigger>m</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Method Declaration</description>
    <name>Method</name>
</snippet>