<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[- (${1:id})${2:${selected_text:method}}${3::(${4:id})${5:anArgument};]]></content>
    <tabTrigger>m</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Method Interface</description>
    <name>Method Interface</name>
</snippet>