<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[NSMutableArray *${1:array} = [NSMutableArray array];]></content>
    <tabTrigger>array</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>NSMutableArray ... = [NSMutableArray array];</description>
    <name>NSArray</name>
</snippet>