<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[@autoreleasepool {
	$0
}]]></content>
    <tabTrigger>pool</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>NSAutoelease Pool</description>
    <name>NSAutorelease Pool</name>
</snippet>