<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[NSBezierPath *${1:path} = [NSBezierPath bezierPath];
$0]]></content>
    <tabTrigger>bez</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>NSBezierPath</description>
    <name>NSBezierPath</name>
</snippet>