<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[NSMutableDictionary *${1:dict} = [NSMutableDictionary dictionary];]]></content>
    <tabTrigger></tabTrigger>
    <language></language>
    <description>NSMutableDictionary ... = [NSMutableDictionary dictionary];</description>
    <name>NSDictionary</name>
</snippet>