<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[NSString stringWithFormat:@"$1", $2]$0]]></content>
    <tabTrigger>format</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>NSString stringWithFormat</description>
    <name>NSString stringWithFormat</name>
</snippet>