<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[- (${1:id})${2:thing}
{
	return $2;
}

- (void)set${2}:($1)${3:aValue}
{
	$0{$old$2} = $2;
	$2 = [$3 retain]
	[old${2}} release];
}]]></content>
    <tabTrigger>objacc</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Object Accessors</description>
    <name>Object Accessors</name>
</snippet>