<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[- (${1:id})${2:thing};
- (void)set$2:($1)aValue;]]></content>
    <tabTrigger>objacc</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Object Accessors Interface</description>
    <name>Object Accessors Interface</name>
</snippet>