<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[@property (${2:nonatomic}) ${3:NSSomeClass}${4: *} ${5:propertyName};]]></content>
    <tabTrigger>prop</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Property</description>
    <name>Property</name>
</snippet>