<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[@protocol ${1:${2:${filename_no_extension)}:My}Delegate}${3: <NSObject>}
$0
@optional
@end]]></content>
    <tabTrigger>pro</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Protocol</description>
    <name>Protocol</name>
</snippet>