<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[[[NSUserDefaults standardUserDefaults] objectForKey:${1:key}];]]></content>
    <tabTrigger>getprefs</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Read Default Value</description>
    <name>Read Default Value</name>
</snippet>