<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[[[NSNotificationCenter defaultCenter] addObserver:${1:self} selector:@selector(${3:notificationSelector:) name:${2:NSWindowDidBecomeMainNotification} object:${4:nil}];]]></content>
    <tabTrigger>obs</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Register for Notification</description>
    <name>Register for Notification</name>
</snippet>