<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[[NSGraphicsContext saveGraphicsState];
$0
[NSGraphicsContext restoreGraphicsState];]]></content>
    <tabTrigger>gsave</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Save and Restore Graphics Context</description>
    <name>Save and Restore Graphics Context</name>
</snippet>