<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[- (${1:unsigned int})${2:thing};
- (void)set${UPPERCASE_START($2)}:($1)new${UPPERCASE_START($2)};]]></content>
    <tabTrigger>acc</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Scalar Accessors Interface</description>
    <name>Scalar Accessors Interface</name>
</snippet>