<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[- (NSString *)${1:thing};
- (void)set${UPPERCASE_START($1)}:(NSString *)${2:${UPPERCASE_START($1)}};]]></content>
    <tabTrigger>stracc</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>String Accessors Interface</description>
    <name>String Accessors Interface</name>
</snippet>