<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[- (${1:id})${2:method}${3::(${4:type})${5:argument}}
{
	${6:res = }${7:[super $2]}$0
	${8:return res};
}]]></content>
    <tabTrigger>sm</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Submethod Declaration</description>
    <name>Submethod</name>
</snippet>