<?xml version="1.0" encoding="utf-8"?>
<snippet>
    <content><![CDATA[[@synthesize ${1:property};]]></content>
    <tabTrigger>syn</tabTrigger>
    <language>Objective-C|Objective-C++</language>
    <description>Synthesize Property</description>
    <name>Synthesize</name>
</snippet>