<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[\$_COOKIE['${1:variable}']]]></content>
	<name>COOKIE['…']</name>
	<description>COOKIE['…']</description>
	<tabTrigger>$_</tabTrigger>
	<language>php</language>
</snippet>