<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[\$_ENV['${1:variable}']]]></content>
	<name>ENV['…']</name>
	<description>ENV['…']</description>
	<tabTrigger>$_</tabTrigger>
	<language>php</language>
</snippet>