<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[\$_GET['${1:variable}']]]></content>
	<name>GET['…']</name>
	<description>GET['…']</description>
	<tabTrigger>$_</tabTrigger>
	<language>php</language>
</snippet>