<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[\$_POST['${1:variable}']]]></content>
	<name>POST['…']</name>
	<description>POST['…']</description>
	<tabTrigger>$_</tabTrigger>
	<language>php</language>
</snippet>