<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[\$_REQUEST['${1:variable}']]]></content>
	<name>REQUEST['…']</name>
	<description>REQUEST['…']</description>
	<tabTrigger>$_</tabTrigger>
	<language>php</language>
</snippet>