<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[\$_SERVER['${1:variable}']]]></content>
	<name>SERVER['…']</name>
	<description>SERVER['…']</description>
	<tabTrigger>$_</tabTrigger>
	<language>php</language>
</snippet>