<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[/**
* $1
*/
class ${2:ClassName}${3: extends ${4:AnotherClass}}
{
	$5
	function ${6:__construct}(${7:argument})
	{
		${0:# code...}
	}
}
]]></content>
	<name>class …</name>
	<description>class …</description>
	<tabTrigger>class</tabTrigger>
	<language>php</language>
</snippet>