<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[function __construct(${1:\$${2:foo}${3: = ${4:null}}}) {
	${5:$this->$0 = \$$6;}$0
}]]></content>
	<name>function __construct</name>
	<description>function __construct</description>
	<tabTrigger>con</tabTrigger>
	<language>php</language>
</snippet>