<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[define('$1', ${2:'$3'});
$0]]></content>
	<name>define(…, …)</name>
	<description>define(…, …)</description>
	<tabTrigger>def</tabTrigger>
	<language>php</language>
</snippet>