<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[$1defined('$2')$0]]></content>
	<name>defined(…)</name>
	<description>defined(…)</description>
	<tabTrigger>def?</tabTrigger>
	<language>php</language>
</snippet>