<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[do {
	${0:# code...}
} while (${1:$a <= 10});]]></content>
	<name>do … while …</name>
	<description>do … while …</description>
	<tabTrigger>do</tabTrigger>
	<language>php</language>
</snippet>