<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[echo "${1:string}"${0};]]></content>
	<name>echo "…"</name>
	<description>echo "…"</description>
	<tabTrigger>echo</tabTrigger>
	<language>php</language>
</snippet>