<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[else {
	${0:# code...}
}]]></content>
	<name>else …</name>
	<description>else …</description>
	<tabTrigger>else</tabTrigger>
	<language>php</language>
</snippet>