<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[elseif (${1:condition}) {
	${0:# code...}
}]]></content>
	<name>elseif …</name>
	<description>elseif …</description>
	<tabTrigger>elseif</tabTrigger>
	<language>php</language>
</snippet>