<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[foreach (\$${1:variable} as \$${2:key}${3: => \$${4:value}}) {
	${0:# code...}
}]]></content>
	<name>foreach …</name>
	<description>foreach …</description>
	<tabTrigger>foreach</tabTrigger>
	<language>php</language>
</snippet>