<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${1:public }function ${2:FunctionName}(${3:\$${4:value}${5:=''}})
{
	${0:# code...}
}]]></content>
	<name>function …</name>
	<description>function …</description>
	<tabTrigger>fun</tabTrigger>
	<language>php</language>
</snippet>