<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[<<<${1:HTML}
${2:content here}
$1;
]]></content>
	<name>Heredoc</name>
	<description>Heredoc</description>
	<tabTrigger>&lt;&lt;&lt;</tabTrigger>
	<language>php</language>
</snippet>