<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[if (${1:condition}) {
	${0:# code...}
}]]></content>
	<name>if …</name>
	<description>if …</description>
	<tabTrigger>if</tabTrigger>
	<language>php</language>
</snippet>