<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[include_once '${1:file}';$0]]></content>
	<name>include_once …</name>
	<description>include_once …</description>
	<tabTrigger>incl1</tabTrigger>
	<language>php</language>
</snippet>