<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[\$${1:arrayName} = array('$2' => $3${4:,} $0);]]></content>
	<name>$… = array (…)</name>
	<description>$… = array (…)</description>
	<tabTrigger>array</tabTrigger>
	<language>php</language>
</snippet>