<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[/**
 * ${4:undocumented function}
 *
 * @return ${5:void}
 * @author ${6:name}$7
 **/
$1function $2($3)
{$0
}]]></content>
	<name>Function</name>
	<description>Function</description>
	<tabTrigger>doc_f</tabTrigger>
	<language>php</language>
</snippet>