<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[/**
 * $1
 *
 * @author ${2:name}
 * @version \$Id\$
 * @copyright ${3:Organisation}, ${4:${NOW(yyyy)}}
 * @package ${4:default}
 **/

/**
 * Define DocBlock
 **/
]]></content>
	<name>Header</name>
	<description>Header</description>
	<tabTrigger>doc_h</tabTrigger>
	<language>php</language>
</snippet>