<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[/**
 * ${3:undocumented constant}
 **/
define($1, $2);$0]]></content>
	<name>Constant Definition</name>
	<description>Constant Definition</description>
	<tabTrigger>doc_d</tabTrigger>
	<language>php</language>
</snippet>