<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[require_once '${1:file}';$0]]></content>
	<name>require_once …</name>
	<description>require_once …</description>
	<tabTrigger>req1</tabTrigger>
	<language>php</language>
</snippet>