<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[return true;$0]]></content>
	<name>return true</name>
	<description>return true</description>
	<tabTrigger>ret1</tabTrigger>
	<language>php</language>
</snippet>