<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[return false;$0]]></content>
	<name>return false</name>
	<description>return false</description>
	<tabTrigger>ret0</tabTrigger>
	<language>php</language>
</snippet>