<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[return$1;$0]]></content>
	<name>return</name>
	<description>return</description>
	<tabTrigger>ret</tabTrigger>
	<language>php</language>
</snippet>