<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[/**
 * $0
 */]]></content>
	<name>Start Docblock</name>
	<description>Start Docblock</description>
	<tabTrigger>/**</tabTrigger>
	<language>php</language>
</snippet>