<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[case '${1:variable}':
	${0:# code...}
	break;]]></content>
	<name>case …</name>
	<description>case …</description>
	<tabTrigger>case</tabTrigger>
	<language>php</language>
</snippet>