<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[switch (${1:variable}) {
	case '${2:value}':
		${3:# code...}
		break;
	$0
	default:
		${4:# code...}
		break;
}]]></content>
	<name>switch …</name>
	<description>switch …</description>
	<tabTrigger>switch</tabTrigger>
	<language>php</language>
</snippet>