<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[throw new $1Exception(${2:"${3:Error Processing Request}"}${4:, ${5:1}});
$0]]></content>
	<name>Throw Exception</name>
	<description>Throw Exception</description>
	<tabTrigger>throw</tabTrigger>
	<language>php</language>
</snippet>