<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[try {
	${3:${SELECTED_TEXT}
} catch (${1:Exception} ${2:\$e}) {
	$0
}]]></content>
	<name>Wrap in try { … } catch (…) { … }</name>
	<description>Wrap in try { … } catch (…) { … }</description>
	<tabTrigger>try</tabTrigger>
	<language>php</language>
</snippet>