<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[#!/usr/bin/env python
]]></content>
	<name>#!/usr/bin/env python</name>
	<description>#!/usr/bin/env python</description>
	<tabTrigger>py</tabTrigger>
	<language>python</language>
</snippet>