<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[__${1:init}__]]></content>
	<name>__magic__</name>
	<description>__magic__</description>
	<tabTrigger>__</tabTrigger>
	<language>python</language>
</snippet>