<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[self.assertEqual(${1:expected}, ${2:actual}${3:, '${4:message}'})$0]]></content>
	<name>Assert Equal</name>
	<description>Assert Equal</description>
	<tabTrigger>ase</tabTrigger>
	<language>python</language>
</snippet>