<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[self.assertNotEqual(${1:expected}, ${2:actual}${3:, '${4:message}'})$0]]></content>
	<name>Assert Not Equal</name>
	<description>Assert Not Equal</description>
	<tabTrigger>asne</tabTrigger>
	<language>python</language>
</snippet>