<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[self.assertRaises(${1:exception}, ${2:callable})$0]]></content>
	<name>Assert Raises</name>
	<description>Assert Raises</description>
	<tabTrigger>asr</tabTrigger>
	<language>python</language>
</snippet>