<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[self.assert_(${1:boolean expression}${2:, '${3:message}'})$0]]></content>
	<name>Assert</name>
	<description>Assert</description>
	<tabTrigger>as</tabTrigger>
	<language>python</language>
</snippet>