<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[self.fail('${1:message}')$0]]></content>
	<name>Fail (a test)</name>
	<description>Fail (a test)</description>
	<tabTrigger>fail</tabTrigger>
	<language>python</language>
</snippet>