<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[if __name__ == '__main__':
	${1:main()}$0]]></content>
	<name>if __name__ == '__main__'</name>
	<description>if __name__ == '__main__'</description>
	<tabTrigger>ifmain</tabTrigger>
	<language>python</language>
</snippet>