<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[(${1:object}):$0]]></content>
	<name>Inside Class Def: Insert (..):</name>
	<description>Inside Class Def: Insert (..):</description>
</snippet>