<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[($0):]]></content>
	<name>Inside Function Def: Insert (..):</name>
	<description>Inside Function Def: Insert (..):</description>
</snippet>