<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[def ${1:foo}():
    doc = "${2:The $1 property.}"
    def fget(self):
        ${3:return self._$1}
    def fset(self, value):
        ${4:self._$1 = value}
    def fdel(self):
        ${5:del self._$1}
    return locals()
$1 = property(**$1())$0]]></content>
	<name>New Property</name>
	<description>New Property</description>
	<tabTrigger>property</tabTrigger>
	<language>python</language>
</snippet>