<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[def ${1:fname}(${2:self}):
	${3:"""docstring for $1"""
	}${0:pass}]]></content>
	<name>New Function</name>
	<description>New Function</description>
	<tabTrigger>def</tabTrigger>
	<language>python</language>
</snippet>