<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[def ${1:mname}(self${2:, arg}):
	${3:pass}]]></content>
	<name>New Method</name>
	<description>New Method</description>
	<tabTrigger>defs</tabTrigger>
	<language>python</language>
</snippet>