<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[self.]]></content>
	<name>self</name>
	<description>self</description>
	<tabTrigger>.</tabTrigger>
	<language>python</language>
</snippet>