<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[try:
	${1:pass}
except ${2:Exception} as ${3:e}:
	${4:raise $3}
finally:
	${5:pass}]]></content>
	<name>Try/Except/Finally</name>
	<description>Try/Except/Finally</description>
	<tabTrigger>try</tabTrigger>
	<language>python</language>
</snippet>