<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[try:
	${1:pass}
except${2: ${3:Exception} as ${4:e}}:
	${5:raise}
else:
	${6:pass}
finally:
	${7:pass}]]></content>
	<name>Try/Except/Else/Finally</name>
	<description>Try/Except/Else/Finally</description>
	<tabTrigger>try</tabTrigger>
	<language>python</language>
</snippet>