#!/usr/bin/env python
# encoding: utf-8
"""
${FILENAME_NO_EXTENSION}.py

Created by ${1:Author Name} on ${NOW()}.
Copyright (c) ${NOW(yyyy)} ${2:Copyright Holder}. All rights reserved.
"""

import sys
import os
import unittest


class ${FILENAME_NO_EXTENSION}:
	def __init__(self):
		pass


class ${FILENAME_NO_EXTENSION}Tests(unittest.TestCase):
	def setUp(self):
		pass


if __name__ == '__main__':
	unittest.main()