<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;![CDATA[$0]]&gt;</content>
	<name>CDATA</name>
	<description>&lt;!CDATA[]]&gt;</description>
	<tabTrigger>cdata</tabTrigger>
	<language>xml</language>
</snippet>