<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;${1:name}$2&gt;$0&lt;${1}&gt;
&lt;/${1}&gt;</content>
	<name>Long Tag</name>
	<description>Long Tag</description>
	<tabTrigger>&lt;</tabTrigger>
	<language>xml</language>
</snippet>
