<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;${1:name} ${2:attr="value"}&gt;$0
$lt;/${1}&gt;</content>
	<name>Long Attribute Tag</name>
	<description>Long Attribute Tag</description>
	<tabTrigger>&lt;a</tabTrigger>
	<language>xml</language>
</snippet>
