<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;${1:name}/&gt;</content>
	<name>Short Tag</name>
	<description>Short Tag</description>
	<tabTrigger>&gt;</tabTrigger>
	<language>xml</language>
</snippet>
