<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content>&lt;?xml version="1.0" encoding="UTF-8"?&gt;</content>
	<name>XML Processing Instruction</name>
	<description>XML Processing Instruction</description>
	<tabTrigger>xml</tabTrigger>
	<language>xml</language>
</snippet>
