<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[background-color: ${1:red};$0]]></content>
	<name>background-color: name</name>
	<description>background-color: name</description>
	<tabTrigger>background</tabTrigger>
	<language>css</language>
</snippet>