<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[background-color: transparent;$0]]></content>
	<name>background-color: transparent</name>
	<description>background-color: transparent</description>
	<tabTrigger>background</tabTrigger>
	<language>css</language>
</snippet>