<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[background-color: #${1:DDD};$0]]></content>
	<name>background-color: hex</name>
	<description>background-color: hex</description>
	<tabTrigger>background</tabTrigger>
	<language>css</language>
</snippet>