<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[background-attachment: ${1|scroll,fixed|};$0]]></content>
	<name>background-attachment: scroll/fixed</name>
	<description>background-attachment: scroll/fixed</description>
	<tabTrigger>background</tabTrigger>
	<language>css</language>
</snippet>