<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[background-color: rgb(${1:255},${2:255},${3:255});$0]]></content>
	<name>background-color: rgb</name>
	<description>background-color: rgb</description>
	<tabTrigger>background</tabTrigger>
	<language>css</language>
</snippet>