<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[background-repeat: ${1|repeat,repeat-x,repeat-y,no-repeat|};$0]]></content>
	<name>background-repeat: r/r-x/r-y/n-r</name>
	<description>background-repeat: r/r-x/r-y/n-r</description>
	<tabTrigger>background</tabTrigger>
	<language>css</language>
</snippet>