<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[background-image: none;$0]]></content>
	<name>background-image: none</name>
	<description>background-image: none</description>
	<tabTrigger>background</tabTrigger>
	<language>css</language>
</snippet>