<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[background-image: url($1);$0]]></content>
	<name>background-image: url</name>
	<description>background-image: url</description>
	<tabTrigger>background</tabTrigger>
	<language>css</language>
</snippet>