<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[border-width: ${1:1px};$0]]></content>
	<name>border-width: size</name>
	<description>border-width: size</description>
	<tabTrigger>border</tabTrigger>
	<language>css</language>
</snippet>