<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[border-right-style: ${1|none,hidden,dotted,dashed,solid,double,groove,ridge,inset,outset|};$0]]></content>
	<name>border-right-style: style</name>
	<description>border-right-style: style</description>
	<tabTrigger>border</tabTrigger>
	<language>css</language>
</snippet>