<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[border-left-width: ${1:1}px]]></content>
	<name>border-left-width: size</name>
	<description>border-left-width: size</description>
	<tabTrigger>border</tabTrigger>
	<language>css</language>
</snippet>