<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[border-bottom-color: #${1:999};$0]]></content>
	<name>border-bottom-color: color</name>
	<description>border-bottom-color: color</description>
	<tabTrigger>border</tabTrigger>
	<language>css</language>
</snippet>