<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[clear: ${1|left,right,both,none|};$0]]></content>
	<name>clear: value</name>
	<description>clear: value</description>
	<tabTrigger>clear</tabTrigger>
	<language>css</language>
</snippet>