<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[color: ${1:red};$0]]></content>
	<name>color: name</name>
	<description>color: name</description>
	<tabTrigger>color</tabTrigger>
	<language>css</language>
</snippet>