<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[color: rgb(${1:255},${2:255},${3:255});$0]]></content>
	<name>color: rgb</name>
	<description>color: rgb</description>
	<tabTrigger>color</tabTrigger>
	<language>css</language>
</snippet>