<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[cursor: url($1);$0]]></content>
	<name>cursor: url</name>
	<description>cursor: url</description>
	<tabTrigger>cursor</tabTrigger>
	<language>css</language>
</snippet>