<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[display: block;$0]]></content>
	<name>display: block</name>
	<description>display: block</description>
	<tabTrigger>display</tabTrigger>
	<language>css</language>
</snippet>