<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[display: inline;$0]]></content>
	<name>display: inline</name>
	<description>display: inline</description>
	<tabTrigger>display</tabTrigger>
	<language>css</language>
</snippet>