<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[display: ${1|none,inline,block,list-item,run-in,compact,marker|};$0]]></content>
	<name>display: common-types</name>
	<description>display: common-types</description>
	<tabTrigger>display</tabTrigger>
	<language>css</language>
</snippet>