<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[display: ${1|table,inline-table,table-row-group,table-header-group,table-footer-group,table-row,table-column-group,table-column,table-cell,table-caption|};$0]]></content>
	<name>display: table-types</name>
	<description>display: table-types</description>
	<tabTrigger>display</tabTrigger>
	<language>css</language>
</snippet>