<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[${3:background-image: none;
}filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${1:${TM_SELECTED_TEXT:/images/transparent.png}}', sizingMethod='${2|image,scale,crop|}');]]></content>
	<name>filter: AlphaImageLoader [for IE PNGs]</name>
	<description>filter: AlphaImageLoader [for IE PNGs]</description>
	<tabTrigger>background</tabTrigger>
	<language>css</language>
</snippet>