<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[float: ${1|left,right,none|};$0]]></content>
	<name>float: left/right/none</name>
	<description>float: left/right/none</description>
	<tabTrigger>float</tabTrigger>
	<language>css</language>
</snippet>