<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[font-style: ${1|normal,italic,oblique|};$0]]></content>
	<name>font-style: normal/italic/oblique</name>
	<description>font-style: normal/italic/oblique</description>
	<tabTrigger>font</tabTrigger>
	<language>css</language>
</snippet>