<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[font-family: ${1:Arial, "MS Trebuchet"}, ${2:sans-}serif;$0]]></content>
	<name>font-family: family</name>
	<description>font-family: family</description>
	<tabTrigger>font</tabTrigger>
	<language>css</language>
</snippet>