<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[font-variant: ${1|normal,small-caps|};$0]]></content>
	<name>font-variant: normal/small-caps</name>
	<description>font-variant: normal/small-caps</description>
	<tabTrigger>font</tabTrigger>
	<language>css</language>
</snippet>