<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[font: ${1:75%} ${2:"Lucida Grande", "Trebuchet MS", Verdana,} ${3:sans-}serif;$0]]></content>
	<name>font: size font</name>
	<description>font: size font</description>
	<tabTrigger>font</tabTrigger>
	<language>css</language>
</snippet>