<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[font-weight: ${1|normal,bold|};$0]]></content>
	<name>font-weight: weight</name>
	<description>font-weight: weight</description>
	<tabTrigger>font</tabTrigger>
	<language>css</language>
</snippet>