<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[font-size: ${1:100%};$0]]></content>
	<name>font-size: size</name>
	<description>font-size: size</description>
	<tabTrigger>font</tabTrigger>
	<language>css</language>
</snippet>