<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[letter-spacing: $1px;$0]]></content>
	<name>letter-spacing: px</name>
	<description>letter-spacing: px</description>
	<tabTrigger>letter</tabTrigger>
	<language>css</language>
</snippet>