<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[list-style: ${1|none,disc,circle,square,decimal,zero|} ${2|inside,outside|} url($3);$0]]></content>
	<name>list-style: type position image</name>
	<description>list-style: type position image</description>
	<tabTrigger>list</tabTrigger>
	<language>css</language>
</snippet>