<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[list-style-image: url($1);$0]]></content>
	<name>list-style-image: url</name>
	<description>list-style-image: url</description>
	<tabTrigger>list</tabTrigger>
	<language>css</language>
</snippet>