<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[list-style-type: ${1|decimal,decimal-leading-zero,zero|};$0]]></content>
	<name>list-style-type: numeric</name>
	<description>list-style-type: numeric</description>
	<tabTrigger>list</tabTrigger>
	<language>css</language>
</snippet>