<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[list-style-position: ${1|inside,outside|};$0]]></content>
	<name>list-style-position: pos</name>
	<description>list-style-position: pos</description>
	<tabTrigger>list</tabTrigger>
	<language>css</language>
</snippet>