<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[list-style-type: ${1|hebrew,armenian,georgian|};$0]]></content>
	<name>list-style-type: other</name>
	<description>list-style-type: other</description>
	<tabTrigger>list</tabTrigger>
	<language>css</language>
</snippet>