<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[list-style-type: ${1|cjk-ideographic,hiragana,katakana,hiragana-iroha,katakana-iroha|};$0]]></content>
	<name>list-style-type: asian</name>
	<description>list-style-type: asian</description>
	<tabTrigger>list</tabTrigger>
	<language>css</language>
</snippet>