<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[margin-left: ${1:20px};$0]]></content>
	<name>margin-left: length</name>
	<description>margin-left: length</description>
	<tabTrigger>margin</tabTrigger>
	<language>css</language>
</snippet>