<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[margin-bottom: ${1:20px};$0]]></content>
	<name>margin-bottom: length</name>
	<description>margin-bottom: length</description>
	<tabTrigger>margin</tabTrigger>
	<language>css</language>
</snippet>