<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[marker-offset: auto;$0]]></content>
	<name>marker-offset: auto</name>
	<description>marker-offset: auto</description>
	<tabTrigger>marker</tabTrigger>
	<language>css</language>
</snippet>