<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[marker-offset: ${1:10px};$0]]></content>
	<name>marker-offset: length</name>
	<description>marker-offset: length</description>
	<tabTrigger>marker</tabTrigger>
	<language>css</language>
</snippet>