<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[opacity: ${1:0.5};${100:
}-moz-opacity: ${1:0.5};${100:
}filter:alpha(opacity=${2:${1/(1?)0?\.(.*)/$1$2/}${1/^\d*\.\d\d+$|^\d*$|(^\d\.\d$)/(?1:0)/}});$0]]></content>
	<name>opacity: [for Safari, FF & IE]</name>
	<description>opacity: [for Safari, FF & IE]</description>
	<tabTrigger>opacity</tabTrigger>
	<language>css</language>
</snippet>