<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[overflow: ${1|visible,hidden,scroll,auto|};$0]]></content>
	<name>overflow: type</name>
	<description>overflow: type</description>
	<tabTrigger>overflow</tabTrigger>
	<language>css</language>
</snippet>