<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[padding-bottom: ${1:20px};$0]]></content>
	<name>padding-bottom: length</name>
	<description>padding-bottom: length</description>
	<tabTrigger>padding</tabTrigger>
	<language>css</language>
</snippet>