<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[padding: ${1:20px} ${2:0px} ${3:40px} ${4:0px};$0]]></content>
	<name>padding: T R B L</name>
	<description>padding: T R B L</description>
	<tabTrigger>padding</tabTrigger>
	<language>css</language>
</snippet>