<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[padding-right: ${1:20px};$0]]></content>
	<name>padding-right: length</name>
	<description>padding-right: length</description>
	<tabTrigger>padding</tabTrigger>
	<language>css</language>
</snippet>