<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[padding: ${1:20px};$0]]></content>
	<name>padding: all</name>
	<description>padding: all</description>
	<tabTrigger>padding</tabTrigger>
	<language>css</language>
</snippet>