<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[position: ${1|static,relative,absolute,fixed|};$0]]></content>
	<name>position: type</name>
	<description>position: type</description>
	<tabTrigger>position</tabTrigger>
	<language>css</language>
</snippet>