<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[{
	/* $1 */
	$0
]]></content>
	<name>properties { } ( } )</name>
	<description>properties { } ( } )</description>
	<tabTrigger>{</tabTrigger>
	<language>css</language>
</snippet>