<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[text-transform: none;$0]]></content>
	<name>text-transform: none</name>
	<description>text-transform: none</description>
	<tabTrigger>text</tabTrigger>
	<language>css</language>
</snippet>