<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[text-indent: ${1:10}px;$0]]></content>
	<name>text-indent: length</name>
	<description>text-indent: length</description>
	<tabTrigger>text</tabTrigger>
	<language>css</language>
</snippet>