<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[text-decoration: ${1|none,underline,overline,line-through,blink|};$0]]></content>
	<name>text-decoration: none/underline/overline/line-through/blink</name>
	<description>text-decoration: none/underline/overline/line-through/blink</description>
	<tabTrigger>text</tabTrigger>
	<language>css</language>
</snippet>