<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[text-shadow: #${1:DDD} ${2:10px} ${3:10px} ${4:2px};$0]]></content>
	<name>text-shadow: color-hex x y blur</name>
	<description>text-shadow: color-hex x y blur</description>
	<tabTrigger>text</tabTrigger>
	<language>css</language>
</snippet>