<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[vertical-align: ${1|baseline,sub,super,top,text-top,middle,bottom,text-bottom,length,%|};$0]]></content>
	<name>vertical-align: type</name>
	<description>vertical-align: type</description>
	<tabTrigger>vertical</tabTrigger>
	<language>css</language>
</snippet>