<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[visibility: ${1|visible,hidden,collapse|};$0]]></content>
	<name>visibility: type</name>
	<description>visibility: type</description>
	<tabTrigger>visibility</tabTrigger>
	<language>css</language>
</snippet>