<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[white-space: ${1|normal,pre,nowrap|};$0]]></content>
	<name>white-space: normal/pre/nowrap</name>
	<description>white-space: normal/pre/nowrap</description>
	<tabTrigger>white</tabTrigger>
	<language>css</language>
</snippet>