<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[word-spacing: normal;$0]]></content>
	<name>word-spacing: normal</name>
	<description>word-spacing: normal</description>
	<tabTrigger>word</tabTrigger>
	<language>css</language>
</snippet>