<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[word-spacing: ${1:10px};$0]]></content>
	<name>word-spacing: length</name>
	<description>word-spacing: length</description>
	<tabTrigger>word</tabTrigger>
	<language>css</language>
</snippet>