<?xml version="1.0" encoding="utf-8"?>
<snippet>
	<content><![CDATA[z-index: $1;$0]]></content>
	<name>z-index: index</name>
	<description>z-index: index</description>
	<tabTrigger>z</tabTrigger>
	<language>css</language>
</snippet>